@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --text-color: #081f3c;
  --text-secondary-color: #71839c;
  --blue: #307fe2;
  --red: #ff0d3b;
  --green: #00ab84;
  --yellow: #bf9d00;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--blue);
  --color-danger: var(--red);
  --color-alert: var(--yellow);
  --color-success: var(--green);
  --color-gray: var(--text-secondary-color);
  --color-text: var(--text-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "IRANSansX";
  src: url("../public/fonts/IRANSansX-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "IRANSansX";
  src: url("../public/fonts/IRANSansX-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "IRANSansX";
  src: url("../public/fonts/IRANSansX-DemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "IRANSansX";
  src: url("../public/fonts/IRANSansX-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
body {
  font-family: "IRANSansX", sans-serif;
  overflow-x: hidden;
}

@layer components {
  .zoom-img {
    -webkit-mask-image: url(../public/images/Card.png);
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
    /* height: 100%; */
  }
  .text-stroke {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 2px;
  }

  .prespective {
    perspective: 1800px;
  }
}
.custom-underline {
  position: relative;
  color: #6026a9;
}
.custom-underline::after {
  content: "";
  position: absolute;
  bottom: -10px;
  right: 10;
  width: 91px;
  height: 12px;
  background-image: url(../public/images/undeline.svg);
}

.download {
  background-image: url("../public/images/bg.svg");
  background-position: center;
  background-size: cover;
}
